

loggingDetails.txt
.env
node_modules/@isaacs/cliui/LICENSE.txt
node_modules/buffer-equal-constant-time/LICENSE.txt
node_modules/cliui/LICENSE.txt
node_modules/cliui/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/nodemon/doc/cli/authors.txt
node_modules/nodemon/doc/cli/config.txt
node_modules/nodemon/doc/cli/help.txt
node_modules/nodemon/doc/cli/logo.txt
node_modules/nodemon/doc/cli/options.txt
node_modules/nodemon/doc/cli/topics.txt
node_modules/nodemon/doc/cli/usage.txt
node_modules/nodemon/doc/cli/whoami.txt
node_modules/punycode/LICENSE-MIT.txt
node_modules/signal-exit/LICENSE.txt
node_modules/string-width-cjs/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/swagger-ui-dist/log.bundle-sizes.swagger-ui.txt
node_modules/swagger-ui-dist/log.es-bundle-core-sizes.swagger-ui.txt
node_modules/swagger-ui-dist/log.es-bundle-sizes.swagger-ui.txt
node_modules/swagger-ui-dist/swagger-ui-bundle.js.LICENSE.txt
node_modules/swagger-ui-dist/swagger-ui-es-bundle-core.js.LICENSE.txt
node_modules/swagger-ui-dist/swagger-ui-es-bundle.js.LICENSE.txt
node_modules/swagger-ui-dist/swagger-ui-standalone-preset.js.LICENSE.txt
node_modules/wkx/LICENSE.txt
node_modules/wrap-ansi-cjs/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/yargs/node_modules/emoji-regex/LICENSE-MIT.txt
node_modules/yargs-parser/LICENSE.txt
